body{font-family: sans-serif;margin: 0px;}
td,th{vertical-align:top;text-align:left;border-bottom:1px solid #ccc;padding-left:20px;padding-right: 2em;}
th{background:#222;color:#fff;}
td>p{text-indent: -1.5em;padding-left: 1.5em;margin:0px;}
h1>i{font-family:sans-serif;}
i{font-family:fixed;font-weight:bold;}
ol{list-style-type: lower-alpha;}
div.copy{-ms-transform: rotate(270deg);-webkit-transform: rotate(270deg);transform: rotate(270deg); margin-left:-180px;margin-top:-230px;padding:0px;width:400px;font-size:9px;} 
div#nav{position:absolute;max-width:100px;top:113px;left:28px;}
div#nav>ul{list-style-type: none;}
a{color:#270;font-family:fixed;font-weight:bold;text-decoration: none;}
